
html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: 0.5s;
}

.hidden {
    display: none !important;
}

/* Temas */
.darkMode {
    background-color: #222 !important;
    color: #fff !important;
}

.darkModeTitle {
    text-shadow: 1px 1px 2px black !important;
    color: white !important;
    font-weight: bolder !important;
}

.darkModeCard {
    background: linear-gradient(to bottom, #222, #000 60%) !important;
    color: #fff !important;
    transition: 0.5s ease-out;
}

.darkModeCard:hover {
    padding: 20px !important;
}

.darkModeCard p,
.darkModeCard li {
    font-weight: bold;
}

.darkModeCard li {
    color: #ccc !important;
}

.darkModeInput {
    background: transparent !important;
    color: #fff !important;
    border-width: 2px !important;
}


.darkModeLittleMenuItemActive {
    color: #fff !important;
}

.darkModeLittleMenuItem {
    color: #888 !important;
}

.clearModeLittleMenuItemActive {
    color: rgb(145, 14, 14) !important;
}
.clearModeLittleMenuItem {
    color: rgba(0, 0, 0, 0.7) !important;
}


.darkModeLittleMenuItemActive:hover,
.darkModeLittleMenuItem:hover {
    background-color: #333;
    transition: 0.5s ease-in-out;
}

.clearModeLittleMenuItemActive:hover,
.clearModeLittleMenuItem:hover {
    background-color: #ccc;
    transition: 0.5s ease-in-out;
}

.cardComponent {
    transition: 0.5s;
}

.cardComponent:hover {
    padding: 20px !important;
}


/* Otros */
.menuItemContainer::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.menuItemContainer::-webkit-scrollbar-track {
    background: transparent;
}

.menuItemContainer::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}

.menuItemContainerRed::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.menuItemContainerRed::-webkit-scrollbar-track {
    background: transparent;
}

.menuItemContainerRed::-webkit-scrollbar-thumb {
    background-color: rgb(145, 14, 14);
    border-radius: 20px;
}

#searcher::placeholder {
    color: 'white';
}

.menuOpen {
    display: none;
}

.deleteItem {
    transition: 0.5s;
}
.deleteItem:hover {
    font-size: 20px;
}

.btnCard {
    transition: 0.5s;
}
.btnCard:hover {
    border: 1px solid rgb(145, 14, 14);
    background-color: transparent !important;
}
.btnCard:hover > button,
.btnCard:hover > svg {
    color: rgb(145, 14, 14) !important;
}


#toggle {
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    border: none;
    box-shadow: inset 0px 0px 5px rgb(0 0 0);
    outline: none;
    margin-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: 0.5s;
}

#toggleCheckbox:checked > #toggle {
    background-color: #333;
}

#toggle::before {
    font-family: FontAwesome;
    content: '\f186';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #333;
    border-radius: 50%;
    transition: 0.5s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#toggleCheckbox:checked {
    content: '\f185 ';
    color: #333;
    left: 40px;
    background-color: white;
}



/* Medias queries */
@media (max-width: 1050px) {
    .linksDiv {
        display: none !important;
    }

    .menuOpen {
        display: block !important;
    }
    .searchDivResponsive {
        display: none !important;
    }
}

@media (max-width: 900px) {
    #payDivsContent {
        flex-direction: column !important;
    }

    #productosDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .divsPay {
        width: 100% !important;
    }
    .cardProductInfo {
        padding: 0 20px !important;
    }
}

@media (max-width: 880px) {
    .textItemCarousel {
        width: 75% !important;
        left: 25%;
        transform: translate(-15%, -50%) !important;
    }
    .titleItemCarousel {
        font-size: calc(1vw + 25px) !important;
    }
    .subtitleItemCarousel {
        font-size: calc(1vw + 20px) !important;
    }
    .paragraphItemCarousel {
        font-size: calc(1vw + 15px) !important;
    }
}

@media (max-width: 850px) {
    #footer {
        flex-direction: column !important;
    }
    #footerContent {
        flex-direction: column-reverse !important;;
    }

    #apperanceFooter {
        width: 100% !important;
    }
    
    .footerSection {
        width: 100% !important;
        margin-bottom: 40px;
        border-bottom: 1px solid white;
    }
    #footerSection1 {
        border-bottom: none;
        margin-bottom: 0;
    }

    #menuContent {
        flex-direction: column !important;
    }

    #itemsLinkMenu {
        border-left: 2px solid rgb(145, 14, 14);
    }

    #itemsLinkMenu,
    #contentMenuItem {
        width: 100% !important;
    }

}

@media (max-width: 775px) {
    #loginScreenContainer {
        margin: 25px 0 !important;
    }

    #registerScreenContainer {
        margin-left: 0 !important;
        flex-direction: column !important;
    }

    #registerScreenContainer > div {
        margin-left: 0 !important;
    }

    #loginScreenContent {
        flex-direction: column !important;
        margin-left: 0 !important;
    }

    #linkLogin,
    #linkRegister {
        margin-top: 35px !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 720px) {
    #cuentaDiv {
        flex-direction: column !important;
    }
    #littleMenuItem {
        width: 100% !important;
        border-right: none !important;
    }

    .chevronMenuItemRight {
        display: none !important;
    }
    .chevronMenuItemDown {
        display: block !important;
    }

    .itemPerfil {
        width: 90% !important;
    }
    
    .cartItem {
        margin-right: 0 !important;
    }
}

@media (max-width: 670px) {
    #apperanceFooter {
        flex-direction: column !important;
    }
    #apperanceButton {
        margin-top: 10px;
    }
}

@media (max-width: 650px) {
    #productsContext > div {
        width: 95% !important;
        min-width: 95% !important;
        max-width: 95% !important;
    }
}

@media (max-width: 630px) {
    .searchDiv {
        display: none;
    }
    .searchDivResponsive {
        display: flex !important;
    }

    .titleItemCarousel {
        font-size: calc(1vw + 20px) !important;
    }
    .subtitleItemCarousel {
        font-size: calc(1vw + 15px) !important;
    }
    .paragraphItemCarousel {
        font-size: calc(1vw + 10px) !important;
    }
}

@media (max-width: 615px) {
    html {
        overflow-x: hidden;
    }

    #productsContext > div {
        flex-direction: column !important;
    }
    #productsContext > div > div {
        width: 95% !important;
    }
}

@media (max-width: 520px) {
    .itemPerfil {
        flex-direction: column;
    }
    .itemPerfil > div {
        width: 100% !important;
    }
    .itemPerfilDiv {
        width: 100% !important;
    }

    #productosDiv > div {
        width: 95% !important;
        min-width: 95% !important;
        max-width: 95% !important;

        flex-direction: column !important;
    }
    #productosDiv > div > div {
        width: 95% !important;
    }
}

@media (max-width: 500px) {
    #introMenu {
        top: 25% !important;
    }

    #introMenu > p {
        font-size: 35px !important;
    }

    .cardContent {
        width: 90% !important;
        min-width: 90% !important;
    }

    .cardContent > .numberCard {
        overflow-x: auto !important;
        scrollbar-color: white transparent !important;
        margin-bottom: 5px !important;
    }
    
    .cardContent > .numberCard::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    
    .cardContent > .numberCard::-webkit-scrollbar-track {
        background: transparent;
    }
    
    .cardContent > .numberCard::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 20px;
    }

    .directionCardAdd {
        width: 100% !important;
        min-width: 100% !important;
    }
}

@media (max-width: 440px) {
    #menuResponsiveContent {
        width: 100% !important;
    }

    .cardComponent {
        margin: 0 !important;
        min-width: 90% !important;
    }

    .directionCard {
        min-width: 90% !important;
    }
    .itemPerfil {
        min-width: 90% !important;
    }
    #addProductDiv {
        width: 90% !important;
    }

    #returnIcon {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        margin-top: 15px !important;
    }

    #titlePagar {
        margin: 15px 0 25px 0 !important;
    }

    #loginForm,
    #registerForm {
        width: 100% !important;
    }

    #loginForm > div,
    #registerForm > div {
        width: 95% !important;
        min-width: 95% !important;
        max-width: 95% !important;
    }

    #linkLogin > img,
    #linkRegister > img {
        max-width: 95% !important;;       
    }
}